body::before {
  display: block;
  content: "";
  position: fixed;
  z-index: -2;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  /*background: linear-gradient(-5deg, #FFF, #FFC778 30%, #F89174 60%, #748af8);*/
  background: linear-gradient(-3deg, #690000, #b41d00 2%, #ff9c42 12%, #e6ce89 17%, #cdd0d0 25%, #585279 50%, #322964 62%, #060023);
}

#lunar-icon {
  position: fixed;
  z-index: -1;
  background-image: url("img/lunar.svg");
  width: 100px;
  height: 100px;
  top: 200px;
  left: 50px;
  background-repeat: no-repeat;
  background-position: center center;
  background-clip: content-box;
  background-size: cover;
}


header#masthead {
  box-sizing: border-box;
  width: 60em;
  max-width: 100%;
  margin: 0px auto;
  padding: 0px;
  margin-bottom: 0.5rem;
}

header#masthead > h1 {
  box-sizing: border-box;
  width: 100%;
  font-weight: bolder;
  text-align: center;
  font-size: 3rem;
  background-color: #edf3f7;
  padding: 0.0rem 0.3rem 0.3rem 0.3rem;
  border-radius: 0.5em;
  margin: 0.5rem auto;
}

header#masthead > h1 > a {
  color: #727c82;
  text-decoration: none;
}

header#masthead > blockquote {
  width: 80%;
  margin: 0px auto;
  padding: 0.5em 1em 0.5em 3.2em;
  background: #f5f1b8;
}

blockquote {
  position: relative;
  padding: 0.5em 1em 0.5em 3.2em;
  box-sizing: border-box;
  font-style: italic;
  background: #f5f1b8;
  margin: 1em;
  border-radius: 0.3em;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

blockquote:before{
  display: inline-block;
  position: absolute;
  top: 0.5em;
  left: 0.7em;
  background: no-repeat center/cover url("img/quote.svg");
  width: 1.5em;
  height: 1.5em;
}

blockquote p {
  padding: 0;
  margin: 1em 0;
  line-height: 1.7;
}

blockquote cite {
  display: block;
  text-align: right;
  color: #888888;
  font-size: 0.9em;
}

@media screen and (min-width: 60em) {

  #main {
    width: 60em;
    display: flex;
    margin: 0px auto;
  }

  #primary {
    width: 40em;
    display: flex;
    flex-direction: column;
  }

  #secondary {
    width: 19em;
    margin-left: 1em;
    display: flex;
    flex-direction: column;
  }

  footer {
    width: 60em;
    margin: 1em auto;
  }
}

@media screen and (max-width: 60em) {

  #main {
    width: 60em;
    max-width: 100%;
    margin: 0px auto;
  }

  header#masthead > blockquote {
    width: 60em;
    max-width: 100%;
  }

  #primary {
    width: 60em;
    max-width: 100%;
  }
  
  #secondary {
    margin-top: 1em;
    width: 60em;
    max-width: 100%;
  }
  
  footer {
    width: 60em;
    max-width: 100%;
  }

  article {
    overflow-x: scroll;
  }

}

#content > header {
  box-sizing: border-box;
  width: 100%;
  margin: 0px auto;
  margin-bottom: 0.5em;
}

#content > header > h1 {
  background: #edf3f7;
  border-radius: 0.5em;
  padding: 0.5em;
}

#content > #comments {
  background: #edf3f7;
  border-radius: 0.5em;
  padding: 0.5em;
}

.commentlist .reply::before {
  content: "[ ";
}

.commentlist .reply::after {
  content: " ]";
}

#content ol.commentlist {
  list-style: none;
}

#content ol.commentlist li {
  background: #f5f1b8;
  border-radius: 0.5em;
  padding: 0.5em;
}

#content ol.commentlist li:not(:last-child) {
  margin-bottom: 0.5em;
}

#content ol.commentlist li ul{
  list-style: none;
}

#content ol.commentlist li ul li {
  margin-top: 0.5em;
  background: #edf3f7;
  border-radius: 0.5em;
  padding: 0.5em;
}

#respond #comment {
  width: 100%;
}

#respond, .akismet_comment_form_privacy_notice {
  background: #edf3f7;
  border-radius: 0.5em;
  padding: 0.5em;
}

article {
  background: #edf3f7;
  border-radius: 0.5em;
  padding: 0.5em;
}

article:not(:last-child) {
  margin-bottom: 0.5em;
}

article img {
  max-width:100%;
  max-height:100%;
  width: auto;
  height: auto;
}

article table, article th, article td {
  border-collapse: collapse;
  border: 1px solid #ccc;
}

article th {
  font-weight: bold;
  background: #f5f1b8;
}

nav.pagination {
  margin-top: 1em;
  background: #edf3f7;
  border-radius: 0.5em;
  padding: 0.5em;
}

nav.pagination > ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0 0 0 0.5em;
  padding: 0;
}

nav.pagination > ul > li {
  border: 1px solid black;
  margin: 0.2em;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  vertical-align: middle;
}

nav.pagination > ul > li > a {
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 100%;
  text-align: center;
  vertical-align: baseline;
}

#secondary aside {
  background: #f5f1b8;

  border-radius: 0.3em;
  padding: 0.3em;
}

#secondary aside:not(:last-child) {
  margin-bottom: 0.5em;
}

#searchform {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

#searchform > input {
  padding: 0px;
  margin: 0px;
  width: 100%;
  box-sizing: border-box;
}

.site-info {
  text-align: center;
}

.footnote-identifier-link::before {
  content: "[";
}
.footnote-identifier-link::after {
  content: "]";
}
.footnote-identifier-link {
  vertical-align: super;
}
