body {
  background-image: url("img/sora.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-clip: content-box;
  background-size: cover;
  background-attachment: fixed;
　background-position: left top;
}
